@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #ffffff;
}

.lottie svg {
  width: 100px !important;
  height: 100px !important;
  cursor: pointer;
}

blockquote {
  border-left: 5px solid #ccc;
  font-style: italic;
  margin: 30px 0;
  overflow: hidden;
}
